/*===============================*/
/*  Header                       */
/*===============================*/

@keyframes appear {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets//img/hero.jpg");
  background-size: cover;
  background-position:center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*---------- Navbar ----------*/

.logo {
  height:100px;
  width:auto;
  float:left;
  margin-top:20px;
}

.main-nav {
  float:right;
  list-style: none;
  margin-top:55px;
}

.main-nav li {
  display:inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.26s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.form-input-text {
  background: rgba(0,0,0,0.0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: 'Lato','Arial', sans-serif;
  padding: 8px 10px;
  font-weight: 200;
}
.form-input-text, .fa-search {
  animation: appear 0.2s linear;
}
.form-input-text::placeholder{
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}
.form-input-text:hover,
.form-input-text:active,
.form-input-text:focus{
  outline: 0;
  border-bottom: 2px solid #e67e22;
}

.search-btn {
  background: none;
  height: 35px;
  padding: 3px 10px;
}
.fa {
  color: white;
  size: 10x;
  transition: color 0.2s;
  cursor: pointer;
}
.fa-search:hover {
  color: #e67e22;
}
.hero-text-box a,h1{
  color: white;
}
