@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400);

/*===============================*/
/*  Basic Setup                  */
/*===============================*/


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato','Arial', sans-serif;
}

html,
body {
  background: #fff;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; /* No se para que uso esto, para el responsive */
}

.clearfix {zoom: 1}
.claerfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*===============================*/
/*  Reusable Componets           */
/*===============================*/

.row {
  max-width: 1140px;
  margin:0 auto;
}

section {
  padding: 80px 0;
}

/*---------- Heading ----------*/

h1, 
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top:0;
  margin-bottom:20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing:2px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*Siempre que se utiliza after como clase, se debe colocar contend*/
h2:after {
  display: block;
  height: 2px;
  background-color:  #e67e22;
  content: " ";
  width:100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*---------- Paragraphs ----------*/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/*---------- Icons ----------*/
.icon-big {
  font-size:400%;
  display:block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right:10px;

  /*Secrets para alinear el texto con iconos*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;

}

/*---------- Links ----------*/

a:link,
a:active {
  color: #e67e22;
  text-decoration:none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border: none;
} 

/*---------- Buttons ----------*/
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
  
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
  background-color: #cf6d17;
} 

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}